body {
  background-color: grey;
  color: black;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform:
  text-align: center;
  padding:15px 50px 15px 50px;
  border: 5px solid black;
}

.experience {
  text-align: center;
  text-transform: ;
  border-top: 2px solid black;  
  border-bottom: 2px solid black;
  background-color: #ACB9BC; 
  letter-spacing: .25em;
  color: green;
  font-size: 38px;
  text-decoration-line: underline;
  text-decoration-style: double;
  font-family: monospace;
}
h2 {
  text-align: 
  margin: 10%;
  font-size: 46px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 30px;
  font-family: serif;
  
}

h6{
  text-indent: 2em;
  background: ;
  font-size: 24px;
  text-decoration-line: underline;
  text-decoration-color: blue;  
  text-decoration-style: wavy;
}
.summary {
  font-size: 26px;
  text-align: justify;
  font-variant: small-caps;
}

.jobs {
  text-transform: ;
  text-decoration: underline;
  font-stretch: ;
  border: 0px dotted green;
  margin: 0% 5%;
  font-size: 50px;
  text-align: center;
  font-style: oblique;
  font-family: cursive;
}
 
header{
  Text-align: center;
  font-family: Times New Roman;
  border-bottom: 0px solid black;
  text-shadow: 2px 2px 5px red;
  font-size: 40px;
}

li {
  color: white; 
  font-size: 20px;
  font-style: italic;
}
